h1 {
    text-align: center;
}

.head {
    height: 100px;
    width: 139px;
    border-radius: 97px 103px 0px 0px;
    margin: 0 auto;
    background-color: #5f93e8;
    
}

.head:hover {
    width: 300px;
    transition: 1s ease-in-out;
}

.left-eye {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    top: -23px;
    left: 290px;
}

.right-eye {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 15px;
    display: inline-block;
    position: relative;
    top: -23px;
    left: 350px;
}

.abdomen {
    height: 135px;
    width: 139px;
    border-radius: 0px 0px 50px 50px;
    margin: -10px auto;
    background-color: #5f93e8;
}

.left-hand {
    position: absolute;
    height: 90px;
    width: 20px;
    border-radius: 50px 50px 50px 50px;
    margin-top: -120px;
    margin-left: 242px;
    background-color: #5f93e8;
}

.right-hand {
    position: absolute;
    height: 90px;
    width: 20px;
    border-radius: 50px 50px 50px 50px;
    margin-top: -120px;
    margin-left: 413px;
    background-color: #5f93e8;
}

.left-leg {
    height: 60px;
    width: 20px;
    border-radius: 50px 50px 50px 50px;
    margin-top: 0;
    margin-left: 45%; 
    background-color:  #5f93e8;
}

.right-leg {
    height: 60px;
    width: 20px;
    border-radius: 50px 50px 50px 50px;
    margin-top: -59px;
    margin-left: 52%; 
    background-color:  #5f93e8;
}

.left-leg:hover {
    transform: rotate(20deg);
}

.right-leg:hover {
    transform: rotate(-20deg);
}


