h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.robots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.head, 
.left_arm,
.torso,
.right_arm,
.left_leg,
.right_leg{
    background-color: #5f93e8;
}

.head {
    height: 150px;
    width: 200px;
    border-radius: 200px 200px 0 0 ;
    margin: 0 auto;
    margin-bottom: 10px;
}

.head:hover {
    width: 300px;
    transition: 1s ease-in-out;
}

.eyes {
    display: flex;
}

.left_eye, .right_eye {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 15px;
}

.left_eye {
    position: relative;
    top: 100px;
    left: 40px;
}

.right_eye {
    position: relative;
    top: 100px;
    left: 120px;
}

.upper_body {
    display: flex;
    height: 150px;
    width: 300px;
}

.torso { 
	width: 200px; 
	height: 200px;
	border-radius: 0 0 50px 50px; 
} 

.left_arm, .right_arm { 
	width: 40px; 
	height: 125px;
	border-radius: 100px; 
} 

.left_arm {
    margin-right: 10px;
}

.right_arm {
    margin-left: 10px;
}

.lower_body {
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto
}

.left_leg, .right_leg { 
	width: 40px; 
	height: 120px;
	border-radius: 0 0 100px 100px; 
} 

.left_leg {
    margin-left: 45px;
}

.left_leg:hover {
	-webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}


.right_leg {
    margin-left: 30px;
}