*{
    text-align: right;
}

body {
    background-image: url("download.jpg");
    background-size: 629px 629px;
    background-repeat: no-repeat;
    cursor: pointer; 
}

a{
    text-decoration: none;
    
}

h1{
    color : red;
    border: solid 10px rgb(255, 176, 170, 0.5);
    text-align: center;
}

p {
    text-decoration: dashed;
    color: green;
    border: solid 10px rgb(255, 176, 170, 0.5);
    text-align: center;
}

li{
    list-style: none;
    display: inline-block;
}

.webtext:last-child {
    border: dashed 10px green;
}

.active {
    color: red;
}