body {
    background-image: url("download.jpg");
    background-size: 629px 627px;
    background-repeat: no-repeat;
    cursor: pointer; 
}

a{
    text-decoration: none;
    
}

h1{
    color : #AA3939;
    border: solid 10px rgb(255, 176, 170, 0.5);
    text-align: center;
}

p {
    border: solid 10px rgb(255, 176, 170, 0.5);
    text-decoration: underline;
    color: green;
    text-align: center;
    line-height: 30px;
    font-family: 'Hachi Maru Pop', cursive;
    font-family: 'Yusei Magic', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

li{
    list-style: none;
    display: inline-block;
}